.col-md-5 img {
    width: 100%;
}

.intro {
    margin-bottom: 60px;
}

p {
    margin-top: 15px;
    margin-bottom: 40px;
}

ul.flashes {
    font-family: Lora, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.5px;
    list-style-type: none;
    background-color: #fed49e;
    padding: 12px 17px;
    width: fit-content;
}

ul.flashes li {
    color:#3d4f62;
}

em {
    font-size: 0.9em;
}

.initiative {
    width: 100%;
    font-size: 14px;
    font-family: Lora, 'Times New Roman', serif;
    color:#3d4f62;
    padding-top: 40px;
    margin-bottom: 0px;
}